## Visual Studio / .NET
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## ReSharper (если используешь)
_ReSharper*/
*.[Rr]e[Ss]harper

## Файлы VS Code (на всякий случай)
.vscode/

## Файлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/.vs/Lab2/v17/.suo
/.vs/slnx.sqlite
